<div class="container margenes">
    {{!-- inicio fila 1 --}}
    <div class="row">
        <div class="col">
             <p class="text-end">Bienvenido {{persona}}! <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a></p>
        </div>
    </div>
    {{!-- fin fila 1 --}}
    {{!-- inicio fila 2 --}}
    <div class="row">
        <div class="col-7">
            <h2>Listado de Novedades</h2>
        </div>
        <div class="col-2 text-end">
           <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nuevo</a>
        </div>
        


    <div class="col-3 text-end">
           <form action="/admin/novedades" method="get" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q" {{#if q}}value="{{q}}" {{/if}}>
        <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
           </form>
        </div>
</div>
    {{!-- fin fila 2 --}}
    {{!-- inicio fila 3 --}}
    <div class="row">
        <div class="col">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each novedades}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{titulo}}</td>
      <td class="text-end"><a href="/admin/novedades/modificar/{{id}}" class="btn btn-secondary"><i class="fa-solid fa-pencil"></i></a><a href="/admin/novedades/eliminar/{{id}}" class="btn btn-secondary"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    {{/each}}
   
  </tbody>
</table>
{{#if is_search}}
  {{#unless novedades.length}}
    <p>No se encontraron resultados para <b>"{{q}}"</b></p>
  {{/unless}}
{{/if}}
        </div>

    </div>
    {{!-- fin fila 3 --}}
</div>


{{!-- <h2>Bienvenido {{persona}}</h2> --}}